@import "tailwindcss";

html,
body {
  width: 100%;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer components {
  input {
    @apply border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 p-2;
  }
  textarea {
    @apply border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 p-2;
  }

  .fix_label {
    @apply flex flex-col gap-3 items-start;
  }

  .postForm {
    @apply bg-white/30 p-8 rounded-lg shadow-lg;
  }

  .postForm label {
    @apply text-lg text-gray-800 font-semibold;
  }

  .postForm button {
    @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors;
  }
}
